.head-1{
    margin-top: 80px;
    color: #fd9176;
}.para-1{
    width: 50%;
    text-align: center;
    margin-left: 350px;
}



.photo-1{
    margin-right: 1000px;
    margin-top: -200px;
    border-radius: 50px;
   
}

.Photo-2{
    margin-left: 1000px;
    margin-top: -250px;
    border-radius: 100px;
}
.photo-2 > img{
    border-radius: 50px;
}

.head-2{
    color: #fd9176;
}

.box{
    height: 380px;
    width: 100%;
    background-color: #fd9176;
}
.head-3{
    text-align: left;
    margin-left: 50px;
    color: white;
    padding-top: 30px;
}

.doctor-1{
    margin-left: -20px;
    margin-top: 20px;
}
.doctor-2{
    margin-left: 70px;
}
.doctor-3{
    margin-left: 70px;
}
.doctor-4{
    margin-left: 70px;
}
.head-4{
    text-align: left;
    margin-left: 50px;
}

.head-5{
    color: #fd9176;
}

.box-2{
    height: 200px;
    width: 400px;
    background-color: #cca173;
    margin-left: 20px;
    /* border-radius: 10px; */
    border: 2px solid rgb(94, 94, 182);
    border-radius: 20px;
    margin-top: 50px;
}
.para-2{
    margin-top: 10px;
}

.heading{
    text-align: left;
    margin-left: 70px;
    margin-top: -10px;

}
.box-3{
    height: 200px;
    width: 400px;
    background-color: #cca173;
    margin-left: 20px;
    margin-top: 30px;
    /* border-radius: 10px; */
    border: 2px solid rgb(94, 94, 182);
    border-radius: 20px;
    /* justify-content: space-between; */
    float: right;
    margin-top: -200px;
    margin-right: 20px;
}
.para-3{
    margin-top: -10px;
}

.heading-1{
    text-align: left;
    margin-left: 120px;
    margin-top: -10px;

}
.box-4{
    height: 200px;
    width: 400px;
    background-color: #cca173;
    margin-left: 20px;
    margin-top: 30px;
    /* border-radius: 10px; */
    border: 2px solid rgb(94, 94, 182);
    border-radius: 20px;
   
}
.para-3{
    margin-top: 10px;
}

.head-7{
    margin-right: 80px;
}

.heading-2{
    text-align: left;
    margin-left: 70px;
    margin-top: -10px;

}
.box-5{
    height: 200px;
    width: 400px;
    background-color: #cca173;
    margin-left: 20px;
    margin-top: 30px;
    /* border-radius: 10px; */
    border: 2px solid rgb(94, 94, 182);
    border-radius: 20px;
    float: right;
    margin-top: -200px;
    margin-right: 20px;
}
.para-5{
    margin-top: -10px;
}
.head-6{
    margin-right: 40px;
}

.heading-3{
    text-align: left;
    margin-left: 120px;
    margin-top: -10px;

}


.photo-4{
    margin-top: -430px;
    margin-left: 440px;
}

